
<div id="japan-map" class="clearfix">


<div id="hokkaido-touhoku" class="clearfix">
	<p class="area-title">北海道・東北</p>
	<div class="area">

    <%= link_to prefecture_path(2) do %>
			<% if @prefectures.find(2).contents.where(user: current_user).present? %>
				<div id="hokkaido">
			<% else %>
				<div class="color" id="hokkaido">
			<% end %>
        <p><%= @prefectures.find(2).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(3) do %>
			<% if @prefectures.find(3).contents.where(user: current_user).present?%>
				<div id="aomori">
			<% else %>
				<div class="color" id="aomori">
			<% end %>
        <p><%= @prefectures.find(3).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(4) do %>
			<% if @prefectures.find(4).contents.where(user: current_user).present? %>
				<div id="akita">
			<% else %>
				<div class="color" id="akita">
			<% end %>
        <p><%= @prefectures.find(4).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(5) do %>
			<% if @prefectures.find(5).contents.where(user: current_user).present?%>
				<div id="iwate">
			<% else %>
				<div class="color" id="iwate">
			<% end %>
        <p><%= @prefectures.find(5).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(6) do %>
			<% if @prefectures.find(6).contents.where(user: current_user).present?%>
				<div id="yamagata">
			<% else %>
				<div class="color" id="yamagata">
			<% end %>
        <p><%= @prefectures.find(6).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(7) do %>
			<% if @prefectures.find(7).contents.where(user: current_user).present?%>
				<div id="miyagi">
			<% else %>
				<div class="color" id="miyagi">
			<% end %>
        <p><%= @prefectures.find(7).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(8) do %>
			<% if @prefectures.find(8).contents.where(user: current_user).present?%>
				<div id="fukushima">
			<% else %>
				<div class="color" id="fukushima">
			<% end %>
        <p><%= @prefectures.find(8).name %></p>
      	</div>
			<% end %>

	</div>
</div>

<div id="kantou">
	<p class="area-title">関東</p>
	<div class="area">

		<%= link_to prefecture_path(9) do %>
			<% if @prefectures.find(9).contents.where(user: current_user).present?%>
				<div id="gunma">
			<% else %>
				<div class="color" id="gunma">
			<% end %>
        <p><%= @prefectures.find(9).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(10) do %>
			<% if @prefectures.find(10).contents.where(user: current_user).present?%>
				<div id="tochigi">
			<% else %>
				<div class="color" id="tochigi">
			<% end %>
        <p><%= @prefectures.find(10).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(11) do %>
			<% if @prefectures.find(11).contents.where(user: current_user).present?%>
				<div id="ibaraki">
			<% else %>
				<div class="color" id="ibaraki">
			<% end %>
        <p><%= @prefectures.find(11).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(12) do %>
			<% if @prefectures.find(12).contents.where(user: current_user).present?%>
				<div id="saitama">
			<% else %>
				<div class="color" id="saitama">
			<% end %>
        <p><%= @prefectures.find(12).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(13) do %>
			<% if @prefectures.find(13).contents.where(user: current_user).present?%>
				<div id="chiba">
			<% else %>
				<div class="color" id="chiba">
			<% end %>
        <p><%= @prefectures.find(13).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(14) do %>
			<% if @prefectures.find(14).contents.where(user: current_user).present?%>
				<div id="tokyo">
			<% else %>
				<div class="color" id="tokyo">
			<% end %>
        <p><%= @prefectures.find(14).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(15) do %>
			<% if @prefectures.find(15).contents.where(user: current_user).present?%>
				<div id="kanagawa">
			<% else %>
				<div class="color" id="kanagawa">
			<% end %>
        <p><%= @prefectures.find(15).name %></p>
      	</div>
			<% end %>

	</div>
</div>

<div id="tyubu" class="clearfix">
	<p class="area-title">中部</p>
	<div class="area">

		<%= link_to prefecture_path(16) do %>
			<% if @prefectures.find(16).contents.where(user: current_user).present?%>
				<div id="nigata">
			<% else %>
				<div class="color" id="nigata">
			<% end %>
        <p><%= @prefectures.find(16).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(17) do %>
			<% if @prefectures.find(17).contents.where(user: current_user).present?%>
				<div id="toyama">
			<% else %>
				<div class="color" id="toyama">
			<% end %>
        <p><%= @prefectures.find(17).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(18) do %>
			<% if @prefectures.find(18).contents.where(user: current_user).present?%>
				<div id="ishikawa">
			<% else %>
				<div class="color" id="ishikawa">
			<% end %>
        <p><%= @prefectures.find(18).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(19) do %>
			<% if @prefectures.find(19).contents.where(user: current_user).present?%>
				<div id="fukui">
			<% else %>
				<div class="color" id="fukui">
			<% end %>
        <p><%= @prefectures.find(19).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(20) do %>
			<% if @prefectures.find(20).contents.where(user: current_user).present?%>
				<div id="nagano">
			<% else %>
				<div class="color" id="nagano">
			<% end %>
        <p><%= @prefectures.find(20).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(21) do %>
			<% if @prefectures.find(21).contents.where(user: current_user).present?%>
				<div id="gifu">
			<% else %>
				<div class="color" id="gifu">
			<% end %>
        <p><%= @prefectures.find(21).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(22) do %>
			<% if @prefectures.find(22).contents.where(user: current_user).present?%>
				<div id="yamanashi">
			<% else %>
				<div class="color" id="yamanashi">
			<% end %>
        <p><%= @prefectures.find(22).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(23) do %>
			<% if @prefectures.find(23).contents.where(user: current_user).present?%>
				<div id="aichi">
			<% else %>
				<div class="color" id="aichi">
			<% end %>
        <p><%= @prefectures.find(23).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(24) do %>
			<% if @prefectures.find(24).contents.where(user: current_user).present?%>
				<div id="shizuoka">
			<% else %>
				<div class="color" id="shizuoka">
			<% end %>
        <p><%= @prefectures.find(24).name %></p>
      	</div>
			<% end %>

	</div>
</div>

<div id="kinki" class="clearfix">
	<p class="area-title">近畿</p>
	<div class="area">

		<%= link_to prefecture_path(25) do %>
			<% if @prefectures.find(25).contents.where(user: current_user).present?%>
				<div id="kyoto">
			<% else %>
				<div class="color" id="kyoto">
			<% end %>
        <p><%= @prefectures.find(25).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(26) do %>
			<% if @prefectures.find(26).contents.where(user: current_user).present?%>
				<div id="shiga">
			<% else %>
				<div class="color" id="shiga">
			<% end %>
        <p><%= @prefectures.find(26).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(27) do %>
			<% if @prefectures.find(27).contents.where(user: current_user).present?%>
				<div id="osaka">
			<% else %>
				<div class="color" id="osaka">
			<% end %>
        <p><%= @prefectures.find(27).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(28) do %>
			<% if @prefectures.find(28).contents.where(user: current_user).present?%>
				<div id="nara">
			<% else %>
				<div class="color" id="nara">
			<% end %>
        <p><%= @prefectures.find(28).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(29) do %>
			<% if @prefectures.find(29).contents.where(user: current_user).present?%>
				<div id="mie">
			<% else %>
				<div class="color" id="mie">
			<% end %>
        <p><%= @prefectures.find(29).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(30) do %>
			<% if @prefectures.find(30).contents.where(user: current_user).present?%>
				<div id="wakayama">
			<% else %>
				<div class="color" id="wakayama">
			<% end %>
        <p><%= @prefectures.find(30).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(31) do %>
			<% if @prefectures.find(31).contents.where(user: current_user).present?%>
				<div id="hyougo">
			<% else %>
				<div class="color" id="hyougo">
			<% end %>
        <p><%= @prefectures.find(31).name %></p>
      	</div>
			<% end %>

	</div>
</div>

<div id="tyugoku" class="clearfix">
	<p class="area-title">中国</p>
	<div class="area">

		<%= link_to prefecture_path(32) do %>
			<% if @prefectures.find(32).contents.where(user: current_user).present?%>
				<div id="tottori">
			<% else %>
				<div class="color" id="tottori">
			<% end %>
        <p><%= @prefectures.find(32).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(33) do %>
			<% if @prefectures.find(33).contents.where(user: current_user).present?%>
				<div id="okayama">
			<% else %>
				<div class="color" id="okayama">
			<% end %>
        <p><%= @prefectures.find(33).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(34) do %>
			<% if @prefectures.find(34).contents.where(user: current_user).present?%>
				<div id="shimane">
			<% else %>
				<div class="color" id="shimane">
			<% end %>
        <p><%= @prefectures.find(34).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(35) do %>
			<% if @prefectures.find(35).contents.where(user: current_user).present?%>
				<div id="hiroshima">
			<% else %>
				<div class="color" id="hiroshima">
			<% end %>
        <p><%= @prefectures.find(35).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(36) do %>
			<% if @prefectures.find(36).contents.where(user: current_user).present?%>
				<div id="yamaguchi">
			<% else %>
				<div class="color" id="yamaguchi">
			<% end %>
        <p><%= @prefectures.find(36).name %></p>
      	</div>
			<% end %>

	</div>
</div>

<div id="shikoku" class="clearfix">
	<p class="area-title">四国</p>
	<div class="area">

		<%= link_to prefecture_path(37) do %>
			<% if @prefectures.find(37).contents.where(user: current_user).present?%>
				<div id="kagawa">
			<% else %>
				<div class="color" id="kagawa">
			<% end %>
        <p><%= @prefectures.find(37).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(38) do %>
			<% if @prefectures.find(38).contents.where(user: current_user).present?%>
				<div id="ehime">
			<% else %>
				<div class="color" id="ehime">
			<% end %>
        <p><%= @prefectures.find(38).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(39) do %>
			<% if @prefectures.find(39).contents.where(user: current_user).present?%>
				<div id="tokushima">
			<% else %>
				<div class="color" id="tokushima">
			<% end %>
        <p><%= @prefectures.find(39).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(40) do %>
			<% if @prefectures.find(40).contents.where(user: current_user).present?%>
				<div id="kouchi">
			<% else %>
				<div class="color" id="kouchi">
			<% end %>
        <p><%= @prefectures.find(40).name %></p>
      	</div>
			<% end %>

	</div>
</div>

<div id="kyusyu" class="clearfix">
	<p class="area-title">九州・沖縄</p>
	<div class="area">

		<%= link_to prefecture_path(41) do %>
			<% if @prefectures.find(41).contents.where(user: current_user).present?%>
				<div id="fukuoka">
			<% else %>
				<div class="color" id="fukuoka">
			<% end %>
        <p><%= @prefectures.find(41).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(42) do %>
			<% if @prefectures.find(42).contents.where(user: current_user).present?%>
				<div id="saga">
			<% else %>
				<div class="color" id="saga">
			<% end %>
        <p><%= @prefectures.find(42).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(43) do %>
			<% if @prefectures.find(43).contents.where(user: current_user).present?%>
				<div id="nagasaki">
			<% else %>
				<div class="color" id="nagasaki">
			<% end %>
        <p><%= @prefectures.find(43).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(44) do %>
			<% if @prefectures.find(44).contents.where(user: current_user).present?%>
				<div id="oita">
			<% else %>
				<div class="color" id="oita">
			<% end %>
        <p><%= @prefectures.find(44).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(45) do %>
			<% if @prefectures.find(45).contents.where(user: current_user).present?%>
				<div id="kumamoto">
			<% else %>
				<div class="color" id="kumamoto">
			<% end %>
        <p><%= @prefectures.find(45).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(46) do %>
			<% if @prefectures.find(46).contents.where(user: current_user).present?%>
				<div id="miyazaki">
			<% else %>
				<div class="color" id="miyazaki">
			<% end %>
        <p><%= @prefectures.find(46).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(47) do %>
			<% if @prefectures.find(47).contents.where(user: current_user).present?%>
				<div id="kagoshima">
			<% else %>
				<div class="color" id="kagoshima">
			<% end %>
        <p><%= @prefectures.find(47).name %></p>
      	</div>
			<% end %>

		<%= link_to prefecture_path(48) do %>
			<% if @prefectures.find(48).contents.where(user: current_user).present?%>
				<div id="okinawa">
			<% else %>
				<div class="color" id="okinawa">
			<% end %>
        <p><%= @prefectures.find(48).name %></p>
      	</div>
			<% end %>

	</div>
</div>

</div> <!-- japan-map -->
