<!DOCTYPE html>
<html>
  <head>
    <title>Original</title>
    <meta charset="UTF-8">
    <link href="style_map.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header >
      <div class="header">
        <div class="header-top-left">
          <%# <h1 class="grid-6"><a href="/">PicTweet</a></h1> %>
          <% if user_signed_in? %>
          <div class="header-left">
            <%= link_to "#{current_user.nickname}さん", root_path, class: "user-nickname" %>
          </div>
          <div class="header-left">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "post" %>
          </div>
          <% else %>
          <div class="header-left">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
          </div>
          <div class="header-left">
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
          </div>
          <% end %>
        </div>
        <div class="header-top-right">
          <div class="header-right">
            <%= link_to(new_content_path, class: 'post-btn') do %>
            <span>保存する</span>
            <% end %>
          </div>
          <div class="header-right-box">
            <%= form_with(url: search_contents_path, local: true, method: :get, class: "search-form") do |form| %>
            <%= form.submit "検索する", class: "search-btn" %><br>
            <%= form.month_field :keyword, class: "search-input" %>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
