<!DOCTYPE html>
<html>
  <head>
    <title>Original</title>
    <meta charset="UTF-8">
    <link href="style_map.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header-top">
        <%# <h1 class="grid-6"><a href="/">PicTweet</a></h1> %>
        <div class="header-right">
          <%= link_to "ログイン", new_user_session_path, class: "post" %>
        </div>
        <div class="header-right">
          <%= link_to "新規登録", new_user_registration_path, class: "post" %>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
